.wrapper {
    margin: 0 auto;
    width: 80%;
}

.visuallyHidden{

}



/*titleContainer*/

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}


/*filtersContainer*/

.filtersContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 0;
}

.filtersItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filtersBtnContainer{
    display: flex;
    gap:10px;
}